
<ion-header class="header" style="padding:15px 0px 0px 0px !important">
  <ion-row><ion-col style="padding:0px;">
  <div style="float:left;width:15%;display:flex;align-items:center;justify-content:center;padding-top:4%" class="div1">
      <ion-buttons start style="float:left;margin-top:0%;"> 
        <button menuToggle style="background:transparent;border:1px solid #afafaf;border-radius:50px;font-size:0.5rem">
          <ion-icon name="menu" style="color:#afafaf;font-size:3rem"></ion-icon>
          </button>
        </ion-buttons>
    </div>  
      <div style="float:left;position: relative;width:50%;text-align:right;padding-top:4%" class="div2">
        <img src="assets/icon/Pace_Logo.png" style="height:3.5rem" />
           </div>
           
          <div style="width:30%;position: relative;float:right;" >
            <div style="float:left;width:100%;font-size:0rem">
  
              <ion-item no-lines style="background:transparent;box-shadow:unset" end>
               
               <ion-avatar class="avatars" >
                <img src="{{emplogo}}"  onError="this.src='http://paceadmin.onsitedealersolutions.com/images/profile/profile.png'">
               
           </ion-avatar>
           </ion-item> 
            </div>
             <div style="float:left;width:100%;text-align: center;font-size:0rem">
              <span style="color:white;font-size:1.2rem; font-family: 'HelveticaNeueLTStd-Md';text-transform:uppercase">{{empname}}</span>
            </div>
            <div style="float:left;width:100%;text-align:center;font-size:0rem">
              <span style="color:#208cfe;font-size:1rem; font-family: 'HelveticaNeueLTStd-Md';text-transform:uppercase">{{emprole}}</span>
            </div>
          </div>
</ion-col></ion-row>


<ion-row  style="background-image: linear-gradient(to bottom right,#225ab4,#076bd0);color: white;" (click)="pacenv.sitechangealert()" >
  <ion-col style="padding:0px;">    
   <ion-label style="font-size:2rem;padding:10px 10px 7px 10px;font-family: 'HelveticaNeueLTStd-Bd';float:left;margin:0px;" >{{siteTitle}}</ion-label>     
   
  </ion-col>
</ion-row>
<ion-row style="font-size:12px;background:white;color: #0c68cb;padding: 0px !important;font-family: 'HelveticaNeueLTStd-Bd';">
    <ion-col  col-4 style="padding:7px 7px 1px 7px;display:flex;align-content:center;justify-content:center;">VIN</ion-col>
    <ion-col  col-4 style="padding:7px 7px 1px 7px;display:flex;align-content:center;justify-content:center;">STOCK</ion-col>
    <ion-col  col-4 style="padding:7px 7px 1px 7px;display:flex;align-content:center;justify-content:center;">Status</ion-col>
 </ion-row>
</ion-header>



<ion-content style="background:none;">  

   <ion-row><ion-col></ion-col></ion-row>
      <ion-row *ngFor="let v of resArr" style="font-size:12px;border-bottom:1px solid grey;padding:5px 2px 5px 2px;" (click)="OpenDetails(v)">
        <ion-col col-4>
            <ion-label  *ngIf="v.VINID!=''" style="text-align:left;margin:0px;">{{v.VINID}}</ion-label>
            <ion-label  *ngIf="v.VINID==''" style="text-align:center;margin:0px;">--</ion-label>
         </ion-col>
        <ion-col col-4>
            <ion-label  *ngIf="v.STOCKID!=''" style="text-align:center;margin:0px;">{{v.STOCKID}}</ion-label>
            <ion-label  *ngIf="v.STOCKID==''" style="text-align:center;margin:0px;">--</ion-label>
          </ion-col>
        <ion-col  col-4>                       
          
            <ion-label *ngIf="v.STATUS=='4' " style="color:green;white-space: nowrap;margin:0px;text-align:center">Completed</ion-label>
            <ion-label *ngIf="v.STATUS=='3' " style="color:orange;white-space: nowrap;margin:0px;text-align:center">In-Progress</ion-label>
            <ion-label *ngIf="v.STATUS=='1' " style="color:white;margin:0px;text-align:center">New</ion-label>
            <ion-label *ngIf="v.STATUS=='2' " style="color:#0c68cb;margin:0px;text-align:center">Open</ion-label>             
          </ion-col>
</ion-row>
<ion-row *ngIf="(resArr?.length==0) && (intialserve==1)">
  <ion-col>
          <span style="padding:10px;color:white">No Data Found!</span>
  </ion-col>
  
</ion-row>
<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content 
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>